<h2>Mission and Vision</h2>
<h4>Erudito Tutoring’s mission is to promote life-long learning and knowledge by providing the highest-quality individualized instruction to students of all ages, using only the most modern technology and curriculum.
We hold the highest standards for our teachers, carefully screening and evaluating our staff throughout their career. 
<br>
<br>
We expect much from our students but understand that knowledge isn’t a one-fit-all solution and seek to individualize the learning experience.
Leveraging technology and access to information we appreciate the massive potential of online education and focus on giving an individual, human aspect to the learning process. Matching
educators with students who can use the extra help to grasp the basic topics or achieve perfection.</h4>

<h2>Misión y Visión</h2>

<h4>La misión de Erudito Tutoring es el promover aprendizaje y 

conocimiento que dure toda la vida al suministrar enseñanza 

individualizada de la más alta calidad a estudiantes de todas las 

edades, usando exclusivamente la tecnología y programas de 

estudio más avanzados. Mantenemos los más altos estándares para 

nuestros profesores, seleccionando y evaluando nuestro personal a 

lo largo de sus carreras.   

<br>
<br>

Esperamos mucho de nuestros estudiantes pero entendemos que el 

conocimiento no es una solución que se adapte de igual manera 

para todas las personas por lo que nos esforzamos en personalizar 

la experiencia de aprendizaje. Apoyándonos en la tecnología y el 

acceso a la información, explotamos el gran potencial de la 

educación en línea y nos enfocamos en dar una perspectiva 

individual y humana al proceso de aprendizaje. Asignamos 

educadores a estudiantes que puedan usar ayuda extra para 

dominar los temas básicos o alcanzar la perfección.
</h4>