
<div class="large-5 large-offset-4  columns">

<h1>Contactate con nosotros</h1>
</br>
<h3><span class="fa fa-phone"> (099)290-1112 </span> <br>
<span class="fa fa-envelope"> maxcodyevans@gmail.com </span> <br>
<span class="fa fa-facebook-square"> facebook link </span> <br><br>
<span> Contactanos directamente llenando tus datos </span> </h3>

<p>
	
	<a id="foxyform_embed_link_633318" href="http://www.foxyform.com/">foxyform</a>
<script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=633318&sec_hash=8c8effbe576&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
</script>
</p>
</div>