   <div class="large-5 columns">
    <div>
      <h1>
      	<%= @user.name %></br>
        <%= gravatar_for @user, size:200 %>
        </br>
      <a href="http://gravatar.com/emails" target=_blank>Edit Photo</a>
      </h1>
    </div>
  </div>
  
 <div class="large-7 columns">
<%= render 'form' %>

      
<%= render @microposts %>

</div>

<div class="large-12 columns"> 
</div>