
<h1>GMAT</h1>

Take our diagnostic test <%= link_to '<span> here </span>'.html_safe, diagnostic_path  %> 
<br/><br/>


<h3>What Is the GMAT?</h3>

Accepted by more than 6,000 business and management programs worldwide, for nearly 60 years, the GMAT exam has been the test of choice by the world’s business leaders to get into the world’s leading business schools for one reason – it works. Quite simply, no other exam lets you showcase the skills that matter most in the business school classroom and in your career.
<br/><br/>
When It Comes to Your Success, There Is No Comparison
<br/><br/>
Business schools use and trust the GMAT exam to make admissions decisions. The GMAT exam – created by the Graduate Management Admission Council (GMAC), the global non-profit council of business schools – sets the standard for its ability to predict success in the classroom. Consider these additional advantages:
<br/><br/>
The GMAT exam measures the skills you have and the skills schools need. Showcase the skills that matter most – to schools and businesses – with the GMAT exam's unique Integrated Reasoning section.
A proven measure of your success. Decades of research confirm that the GMAT exam is a valid and reliable predictor of your academic performance in today’s graduate management programs. 
<br/><br/>
The GMAT exam is relied on more by graduate business schools worldwide. The GMAT exam works – for you and them – and is accepted by more programs and schools than any other individual graduate management school exam.
<br/><br/>
The GMAT exam is available when you’re ready to take it. Testing is available around the world in state-of-the-art facilities designed to provide an unparalleled test-taking experience so that you can perform your best.