<h1>GRE</h1>

Take our diagnostic test <%= link_to '<span> here </span>'.html_safe, diagnostic_path  %> 
<br/><br/>

<h3>What Is the GRE?</h3>
The GRE is the most widely accepted standarized test for graduate admission in the United States and abroad. It's focus on Math, Vocabuly and Reading Comprehension make it a highly learnable test
<br/><br/>
Plus, the GRE revised General Test is the only admissions test for graduate or business school that lets you skip questions within a section, go back and change answers, and have control to tackle the questions within a section you want to answer first.
<br/><br/>
The GRE revised General Test features question types that closely reflect the kind of thinking you'll do in graduate or business school.
<br/><br/>
<ul>
<li>Verbal Reasoning — Measures your ability to analyze and evaluate written material and synthesize information obtained from it, analyze relationships among component parts of sentences and recognize relationships among words and concepts.
</li>
<li>Quantitative Reasoning — Measures problem-solving ability, focusing on basic concepts of arithmetic, algebra, geometry and data analysis.
</li>
<li>Analytical Writing — Measures critical thinking and analytical writing skills, specifically your ability to articulate and support complex ideas clearly and effectively.
 </li>
</ul>
 
<h3>Who Takes It?</h3>

Prospective graduate and business school applicants from all around the world who are interested in pursuing a master's, MBA, specialized master's in business or doctoral degree take the GRE revised General Test. Applicants come from varying educational and cultural backgrounds and the GRE revised General Test provides schools with a common measure for comparing candidates' qualifications.
<br/><br/>
GRE scores are used by admissions or fellowship panels to supplement your undergraduate records, recommendation letters and other qualifications for graduate-level study.
<br/><br/>