        <div class="row">
        <div class="large-12 columns">
        <div id="slider">
          <img src="http://placehold.it/1000x400&text=[ Main Advert ]"/>
        </div>
        
        <hr/>
        </div>
      </div>
      
     
     
      <div class="row">
        <div class="large-4 columns">
          <img src="http://placehold.it/400x300&text=[Exec English/test prep/thesis]"/>
          <h4>This is a content section.</h4>
        </div>
        
        <div class="large-4 columns">
          <img src="http://placehold.it/400x300&text=[k-12 / college]"/>
          <h4>This is a content section.</h4>
        </div>
        
        <div class="large-4 columns">
          <img src="http://placehold.it/400x300&text=[sign in as profe add]"/>
          <h4>This is a content section.</h4>
        </div>
      
        </div>
        
     
    <div class="row">
        <div class="large-12 columns">
        
          <div class="panel">
            <h4>Get in touch!</h4>
                
            <div class="row">
              <div class="large-9 columns">
                <p>We'd love to hear from you, you attractive person you.</p>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">Contact Us</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
     
       
      

    