 <br>
   <br>
<h1>Servicio a la comunidad</h1>



<h3>Queremos ayudar a la educaci칩n ecuatoriana </h3>
<h2>Amigos, este verano estaremos dictando un curso gratuito de ingles y matem치ticas a escuelas fiscales de cumbaya. Necesitamos su ayuda con cualquier contribuci칩n (materiales, donaciones, etc). 
<br>
Por favor contactar a Alexandra para inscribirse o hacer una contribuci칩n: alexandra@erudito.guru
<br>+593 95 918 4199
   </h2>
   <br>
   <br>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="YJG53HZH2XVJW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
 
