
<h1>SAT</h1>


<br/><br/>


<h3>Que es el SAT?</h3>

El SAT es el examen estandarizado de ingreso universitario más ampliamente aceptado por las Universidades Americanas. El examen es administrado por la organización College Board que busca determinar la preparación pre-universitaria de un estudiante.<br/><br/>

La prueba dura 3 horas y 45 minutos y tiene un costo de $ 94.50. Los centros de administración del examen  en Ecuador y las fechas se encuentran en la página oficial www.collegeboard.com.<br/><br/>

El primer examen del SAT debería tomarse a fines de 5to curso, de esta manera, por cualquier razón, es posible tomar el examen una segunda vez a principios de 6to curso durante el periodo de la aplicación temprana a universidades en el otoño previo a la graduación.

<br/><br/>

<h3>Preparación</h3>



Es recomendable tener una preparación mínima de un mes para el examen. Dado que el examen es calificado de manera porcentual, de acuerdo a la cohorte, la preparación rápidamente se ha convertido en una necesidad. Las escuelas americanas se enfocan en la preparación pre-universitaria y elevan la competencia.

<br/><br/>

El material recomendado para cualquier estudiante es el libro "Official Study Guide de College Board". Dependiendo de los objetivos del estudiante y considerando el potencial para becas, un seminario tambien puede ser una excelente inversión. 
<br/><br/>


