<h1>TOEFL</h1> 

Take our diagnostic test <%= link_to '<span> here </span>'.html_safe, diagnostic_path  %> 

<br/><br/>
<h3>What Is the TOEFL iBT Test?</h3>
The TOEFL iBT test measures your ability to use and understand English at the university level. And it evaluates how well you combine your listening, reading, speaking and writing skills to perform academic tasks.
<br/><br/>
The TOEFL® test is the most widely respected English-language test in the world, recognized by more than 9,000 colleges, universities and agencies in more than 130 countries, including Australia, Canada, the U.K. and the United States. Wherever you want to study, the TOEFL test can help you get there.
<br/><br/>
The TOEFL iBT® test, administered via the Internet, is an important part of your journey to study in an English-speaking country. In addition to the test, the ETS TOEFL Program provides tools and guides to help you prepare for the test and improve your English-language skills.

<br/><br/>
<h3>Who Takes the TOEFL Test?</h3>
More than 30 million people from all over the world have taken the TOEFL test to demonstrate their English-language proficiency. The average English skill level ranges between Intermediate and Advanced.
<br/><br/>
Students planning to study at a higher education institution<br/>
English-language learning program admissions and exit<br/>
Scholarship and certification candidates<br/>
English-language learners who want to track their progress<br/>
Students and workers applying for visas<br/>
