<h1>K-12 Tutoring</h1>


<br/><br/>

<h3>Why an Erudito Tutor?</h3>
We offer private in-home tutoring for all grade levels. We understand that learning is highly affected by teacher-student interaction, thus carefully place tutors to meet the individual needs of each student. Our tutors have a variety of backgrounds in different subjects, including math, science, literature, and English. Any subject can be taught in English in order to cater to Ecuador’s bi-lingual schools.
   <br/><br/>
<h3>Here are some things to consider before requesting a tutor for a student in grades k-12:</h3>

<ul>
<li>Is my child introverted or extroverted?</li>
<li>What kind of learning style does my child have? Is he/she a visual learner, interactive learner, or a traditional learner?</li>
<li> Does my child need a teacher with a calm temparament and a lot of patience? Or does my child need to be challenged and encouraged by the teacher?</li>
<li>Does my child feel more comfortable around a male or female instructor?</li>
<li> Has my child been diagnosed with a learning disability?</li>
<li>Is my child hyperactive and does he/she have problems concentrating in class?</li>

</ul>
 
<h3>Here are some things to consider before requesting a tutor for yourself:</h3>

<ul>
<li>What kind of learning style do I have? Do I need a lot of visual stimulation or am I a visual learner?</li>
<li> Do I learn better from a dominant or docile personality?</li>
<li>Am I interested in the subject I want to learn or is it a requierement?</li>
<li>How much time can I dedicate to studying outside of class?</li>
</ul>
<br />

Knowledge of these factors  will help us find the best private instructor to fit your or your child's needs.

 Please take a look at our wide and talented pool of professors <%= link_to '<span> here </span>'.html_safe, home_path  %>
 
   <br/><br/>