<h1>K-12 Tutoring</h1>


<br/><br/>

<h3>¿Por qué un Tutor Erudito?</h3>
Ofrecemos tutoría privada en el hogar para todos los niveles. Entendemos que el aprendizaje es muy

afectado por la interacción profesor-alumno, por lo que cuidadosamente asignamos tutores para 

satisfacer las necesidades individuales de cada estudiante. Nuestros tutores tienen una variedad de 

especializaciones en diversas materias, como las Matemáticas, Ciencias, Literatura e inglés. Cualquier 

materia puede ser enseñada en inglés con el fin de atender a las escuelas bilingües del Ecuador.
   <br/><br/>
<h3>Aquí están algunos aspectos a considerar antes de solicitar un tutor para un estudiante en los grados K-

12:</h3>

<ul>
<li> ¿Es mi niño introvertido o extrovertido?</li>
<li>¿Qué tipo de estilo de aprendizaje tiene mi hijo? ¿Es él / ella un estudiante visual, alumno interactivo,
o un estudiante tradicional?</li>
<li> ¿Necesita mi hijo un profesor con un temperamento tranquilo y mucha paciencia? ¿O es que necesita

ser desafiado y alentado por el profesor?</li>
<li> ¿Mi hijo se siente más a gusto con un hombre o una mujer como instructor?</li>
<li> ¿Se ha diagnosticado a mi hijo con una discapacidad de aprendizaje?</li>
<li> ¿Es mi hijo hiperactivo y él / ella tienen problemas para concentrarse en clase?</li>

</ul>
 
<h3>
	Aquí están algunos aspectos a considerar antes de solicitar un tutor para usted:
	</h3>

<ul>
<li>¿Qué tipo de estilo de aprendizaje tengo? ¿Necesito mucha estimulación visual o soy un estudiante

visual?</li>
<li> ¿Aprendo mejor a partir de una personalidad dominante o dócil?</li>
<li> Estoy interesado en la materia que quiero aprender o es un requisito?</li>
<li> ¿Cuánto tiempo puedo dedicar a estudiar fuera de clase?</li>
</ul>
<br />

El conocimiento de estos factores nos ayudará a encontrar el mejor instructor privado para satisfacer las 

necesidades suyas o el de su hijo. Por favor, revise nuestra variada y talentosa lista de los profesores 

<%= link_to '<span> aquí </span>'.html_safe, home_path  %>
 
   <br/><br/>