<li id="micropost-<%= micropost.id %>">
  <span class="content"><%= micropost.content %></span>
  <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</li>