<footer>
<nav class="round">
<ul>
<li><%= link_to "About", '#' %></li>
<li><%= link_to "Contact", '#' %></li>
<li><a href="http://news.railstutorial.org/">News</a></li>
<li><%= link_to "Admin", index_path %></li>
</ul>
</nav>
</footer>