      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
					<li><%= link_to "About", '#' %></li>
					<li><%= link_to "Contact", '#' %></li>
					<li><a href="http://news.railstutorial.org/">News</a></li>
					<li><%= link_to "Admin", users_path %></li>
              </ul>
            </div>
          </div>
        </div> 
      </footer>
