
	
	 <div class="row">
        <div class="large-3 columns">
        	
          <h1><%= link_to image_tag("logo.jpg"), root_path %> </h1>
          
        </div>
        <div class="large-9 columns">
        	<nav class="round">
          <ul class="right button-group">
					<li><%= link_to '<span class="fa fa-home"> Inicio </span>'.html_safe, home_path  %></li>
					<li><%= link_to '<span class="fa fa-envelope"> Contacto</span>'.html_safe, contact_path%></li>
					<li><%= link_to '<span class="fa fa-group"> Nosotros</span>'.html_safe, about_path%></li>
          </ul>
          </nav>
         </div>
     </div>